/* LOGIN */
.form-login {
	padding: 0px 10px 10px;
	border: 1px solid #e5e5e5;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F2F2F2;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}


/* MISC */
body {
	background-color:#EEEEEE;
}

.border { border: #000000 thin solid; }

.navbar .brand {
	color: #FFFFFF;
}

.navbar-inner {	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.row .span2 {
	margin-left: 0px;
	padding-left: 1px;
	padding-right: 1px;
	width:130px;
}

.agenda-element{
	height: 130px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: #CCCCFF thin solid;
	background-color: #FFFFFF;
}

/*.agenda-element:hover{
	border: #CCCCFF medium solid;
}*/

.agenda-element-margin{
	margin-top:10px;
}

.agenda-element-background-title{
	width: inherit;
	background-color: #DAF2CC;
	cursor: inherit;
	border: #7BD148 thin solid;
}

.agenda-element-info{
	padding: 10px;
	cursor: inherit;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #aaa;
    margin: 1em 0; padding: 0; }

.float-left{
	float: left;
}

#agenda-container{
	margin-top: 10px;
}

.img:hover{
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}

.agenda-mv-day{
	height: 105px;
	border: #aaa thin solid;
	background-color: white;
}

.link{
	text-decoration: underline;
	display: inline-block;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
}

.link:hover {
	-webkit-transform: scale(2,2);
	-moz-transform: scale(2,2);
	-o-transform: scale(2,2);
	-ms-transform: scale(2,2);
	transform: scale(2,2);
}

.agenda-mv-day-event-effect-static{
	margin-top: 5px;
	background-color: #DAF2CC;
	border: #7BD148 thin solid;
	cursor: pointer;
}

.agenda-mv-day-event-effect{
	margin-top: 5px;
	background-color: #DAF2CC;
	border: #7BD148 thin solid;
	cursor: pointer;
	overflow: hidden;
	height: 20px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
}

.agenda-mv-day-event-effect:hover{
	overflow: auto;
	/*font-size: 12px;*/
	width:160px;
	height: 60px;
	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}

.agenda-mv-day-event-noeffect{
	margin-top: 25px;
	background-color: #DAF2CC;
	border: #7BD148 thin solid;
	cursor: pointer;
}

.agenda-mv-day-date{
	margin-left:30px;
}

.btn-today{
	margin-top: -1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #349c3a thin solid;
}

/* Footer */
#footer { width:100%; clear:both; color:#999999; text-align:center; padding-bottom: 15px; font-size: 85%; }
#footer a { color:#999999; text-decoration: none; border-bottom: 1px dotted #999999; }
